@tailwind base;
@tailwind components;
@tailwind utilities;




.arima-100 {
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-weight:100;
    font-style:normal;
  }
  

  .arima-200 {
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-weight:200;
    font-style:normal;
  }

  .arima-300 {
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-weight:300;
    font-style:normal;
  }

  .arima-500 {
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-weight:500;
    font-style:normal;
  }