{% load static %}
{% load compress %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap" rel="stylesheet">
  <!-- Tailwind CSS -->
  {% compress css %}
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
  {% endcompress %}

  <title>VisionEd</title>
</head>

<body class="bg-black relative min-h-screen">

  <!-- Full-screen background image -->
  <div class="absolute inset-0 bg-[url('/static/img/MAINLOGO.jpg')] bg-cover bg-center"></div>

  <!-- Sticky Navigation -->
  <nav class="fixed top-0 left-0 w-full z-20 ">
    <div class="container mx-auto flex items-center justify-between p-4">
      <!-- Logo -->
      <a href="#" class="flex items-center">
        <!-- Replace with your image or SVG logo -->
        <img src="{% static 'img/VisionEdLOGO.png' %}" class="object-contain w-[100px] h-[100px]" alt="Logo">
        <!-- Adjust height as needed -->
        <span class="text-primary-ascent  text-[30px] arima-500">VisionEd</span>
      </a>
      <!-- Right Side (optional for adding links) -->
      <div>
        <!-- You can add navigation links here if needed -->
      </div>
    </div>
  </nav>


  <!-- Content container, positioned above the background image -->
  <div class="relative z-10 text-white pt-16"> <!-- Added pt-16 to give space for the sticky nav -->
    <div class="container py-10">
      {% block content %}
      {% endblock %}
    </div>
  </div>

</body>

</html>