{% load static %}
{% load compress %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Tailwind CSS -->
  {% compress css %}
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
  {% endcompress %}

  <title>VisionEd</title>
</head>

<body class="bg-black relative min-h-screen">

  <!-- Full-screen background image -->
  <div class="absolute inset-0 bg-[url('/static/img/MAINLOGO.jpg')] bg-cover bg-center"></div>

  <!-- Content container, positioned above the background image -->
  <div class="relative z-10 text-white">
    <div class="container  py-10">
      {% block content %}
      {% endblock %}
    </div>
  </div>

</body>

</html>